:root {
  --main-tit-color: #212121;
  --second-tit-color: #ffffff;
  --first-logo-color: #000000;
  --sec-one-bkground: #2f303a;
  --sec-two-bkground: #e5e5e5;
  --sec-three-bkground: #f5f4fa;
  --first-tex-color: #757575;
  --first-link-color: #212121;
  --accent-link-color: #2196f3;
  --third-link-color: #ffffff;
  --ftr-mail-tel-color: rgba(255, 255, 255, 0.6);
  --first-btn-text-color: #212121;
  --accent-btn-text-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}
/* Deleting point's from list  */
.list {
  list-style: none;
}

/* Deleting underlining links */
.link {
  text-decoration: none;
}

/*----------------------- Index - HEADER -------------------- */
/*.hdr {
    background-color: yellow;
}
*/

/* .hdr-list .link {
  color: var(--accent-link-color);
} */

.hdr-logo-accent {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-link-color);
}

.hdr-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-logo-color);
}

.hdr-navi .link.current {
  color: var(--accent-link-color);
}

.hdr-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-link-color);
}

.hdr-link:hover,
.hdr-link:focus {
  color: var(--accent-link-color);
}

.hdr-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-link-color);
}

.hdr-mail:hover,
.hdr-mail:focus {
  color: var(--accent-link-color);
}

.hdr-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-link-color);
}

.hdr-tel:hover,
.hdr-tel:focus {
  color: var(--accent-link-color);
}

/*----------------------- Index - MAIN -------------------- */
.mn-sect-one {
  background-color: var(--sec-one-bkground);
}

.mn-h-one {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-tit-color);
}

/* font-family: inherit; */
.mn-btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-btn-text-color);
  background-color: var(--accent-link-color);
}
/* font-style: normal; */

/* .mn-sect-two {
  background-color: var(--sec-other-bkground);
} */
/* Для скрытого раздела после  <h1> "Эффективные решения для вашего бизнеса" */
.headen {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-tit-color);
}



/*  ------- Внимание к деталям ---- */
.mn-sect-three {
  color: var(--sec-other-bkground);
}
/* background-color: var(--sec-other-bkground); */

.sect-three-h-three {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-tit-color);
}

.sect-three-p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-tex-color);
}

.sect-four-h-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-tit-color);
}
/* color: #212121; */

.mn-h-three {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* color: #212121; */

.mn-sect-four {
  color: var(--sec-two-bkground);
}

.sect-four-h-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-tit-color);
}

.mn-sect-five {
  color: var(--sec-three-bkground);
}

.sect-five-h-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-tit-color);
}

.sect-five-h-three {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-tit-color);
}

.sect-five-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-tex-color);
}

/* ------ FOOTER ------------ */
.ftr {
  background-color: var(--sec-one-bkground);
}

.ftr-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-btn-text-color);
}

.ftr-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-tit-color);
}

.ftr-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--ftr-mail-tel-color);
}

.ftr-mail:hover,
.ftr-mail:focus {
  color: var(--accent-link-color);
}

.ftr-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--ftr-mail-tel-color);
}

.ftr-tel:hover,
.ftr-tel:focus {
  color: var(--accent-link-color);
}

/* ---------- PORTFOLIO.html ------------- */
/* ---------- MAIN ------------- */

.port-h-one {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-tit-color);
}


/* font-style: normal; */
.port-btn {
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-btn-text-color);
  background-color: var(--sec-three-bkground);
  border:0;
}
/*     font-family: Roboto; */

.port-btn:hover,
.port-btn:focus, .active {
  color: var(--accent-btn-text-color);
  background-color: var(--accent-link-color);
}

.port-sect-one-h-three {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-tit-color);
}

.port-sect-one-p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--first-tex-color);
}
/* ------ FOOTER ------------ */
/* .port-ftr {
  background-color: var(--sec-one-bkground);
} */
